<h2>Exam info</h2>
Id: {{exam?.id}}
<br/>
Title: {{exam?.title}}
<br/>
Type: {{exam?.type}}
<br/>
Difficulty: {{exam?.difficulty}}
<br/>
Show all questions: {{exam?.showAllQuestions}}
<br/>
Return to questions: {{exam?.returnToQuestions}}
<br/>
Send results instantly: {{exam?.sendResultsInstantly}}
<br/>
Show full results: {{exam?.showFullResults}}
<br/>
Mix questions: {{exam?.mixQuestions}}
<br/>
Max time: {{exam?.maxTime}}
<br/>
Number of questions: {{exam?.numberOfQuestions}}
<br/>
Percent to pass: {{exam?.percentToPass}}
<br/>
Initiated joining: {{exam?.joining}}
<br/>
Started: {{exam?.started}}
<br/>
Finished: {{exam?.finished}}
<br/>
<button (click)="startExam()" class="btn btn-primary">Start exam</button>
<br/>
<br/>
<button (click)="addAllExamQuestions()" class="btn btn-primary">Add all questions</button>
<br/>

{{message}}

<h2>Questions on exam</h2>
<ng-container *ngFor="let question of exam?.examQuestions">
  <table border="1" style="margin-top: 10px;">
    <tr>
      <td colspan="5"><b>Question</b></td>
    </tr>
    <tr>
      <td colspan="4" style="white-space: pre-wrap; width: 600px;" [innerHTML]="question.question"></td>
      <td rowspan="50"><button (click)="deleteExamQuestion(question)" class="btn btn-primary">Delete question from exam</button>
        <br />
        <ng-container *ngIf="question.position != 0">
          <button (click)="changeExamQuestionPosition(question, question.position-1)" class="btn btn-primary">Move up</button>
        </ng-container>
        <ng-container *ngIf="question.position+1 != exam.examQuestions.length">
          <button (click)="changeExamQuestionPosition(question, question.position+1)" class="btn btn-primary">Move down</button>
        </ng-container>
      </td>
    </tr>
    <tr>
      <td>Typ:
        <ng-container *ngIf="question.type == 1">Jednokrotnego wyboru</ng-container>
        <ng-container *ngIf="question.type == 2">Wielokrotnego wyboru</ng-container>
      </td>
      <td>Trudność: {{question.difficulty}}</td>
      <td>Punkty: {{question.points}}</td>
      <td>Czas odpowiedzi [s]: {{question.answerTime}}</td>
    </tr>
    <tr>
      <td colspan="3"><b>Closed answers</b></td>
      <td colspan="1">Is correct?</td>
    </tr>
    <ng-container *ngFor="let answer of question.examClosedAnswers">
      <tr>
        <td colspan="3" style="white-space: pre-wrap; width: 400px;" [innerHTML]="answer.closedAnswer"></td>
        <td colspan="1">{{answer.correct}}</td>
      </tr>
    </ng-container>
  </table>
</ng-container>



<h2>All questions for group which you can add to exam</h2>
<ng-container *ngFor="let question of questions">
  <table border="1" style="margin-top: 10px;">
    <tr>
      <td colspan="5"><b>Question</b></td>
    </tr>
    <tr>
      <td colspan="4" style="white-space: pre-wrap; width: 600px;" [innerHTML]="question.question"></td>
      <td rowspan="50"><button (click)="addQuestionToExam(question)" class="btn btn-primary">Add to exam</button></td>
    </tr>
    <tr>
      <td>Typ:
        <ng-container *ngIf="question.type == 1">Jednokrotnego wyboru</ng-container>
        <ng-container *ngIf="question.type == 2">Wielokrotnego wyboru</ng-container>
      </td>
      <td>Trudność: {{question.difficulty}}</td>
      <td>Punkty: {{question.points}}</td>
      <td>Czas odpowiedzi [s]: {{question.answerTime}}</td>
    </tr>
    <tr>
      <td colspan="3"><b>Closed answers</b></td>
      <td colspan="1">Is correct?</td>
    </tr>
    <ng-container *ngFor="let answer of question.closedAnswers">
      <tr>
        <td colspan="3" style="white-space: pre-wrap; width: 400px;" [innerHTML]="answer.closedAnswer"></td>
        <td colspan="1">{{answer.correct}}</td>
      </tr>
    </ng-container>
  </table>
</ng-container>
