<p>
  <a routerLink="/login">Login</a>
  <br />
  <a routerLink="/logout">Logout</a>
  <br />
  <a routerLink="/register">Register</a>
  <br />
  <a routerLink="/account/resendActivationCode">ResendActivationCode</a>
  <br />
  <a routerLink="/account/sendResetPasswordRequest">SendResetPasswordRequest</a>
  <br />
  <a routerLink="/account/changeAccessRole">Change Access Role</a>
  <br />
  <a routerLink="/account/edit">Edit account</a>
  <br />
  <a routerLink="/group">Groups</a>
  <br />
  username logged account: {{loggedAccount?.username}}
</p>


